

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.icon img {
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: background-color 0.3s;
    overflow: hidden;
    object-fit: cover;
}

.icon img:hover {
    background-color: #ddd;
}

.icon-name {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}

.content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 600px;
    text-align: center;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .icon:hover {
    background-color: #ddd;
  }
  
  .content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }

  .card {
    width: calc(100%);  
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
   
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-header {
    background-color: #333;
    color: #fff;

  }
  
  .card-content {
    padding: 10px;
    display: none;
  }
  
  .card.expanded .card-content {
    display: block;
  }

  .sub-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .sub-card {
    width: calc(50% - 5px); 
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  .sub-card:hover {
    transform: translateY(-3px);
  }
  
  .sub-card-header {
    background-color: #666;
    color: #fff;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .sub-card-content {
    padding: 8px;
  }
  
