<div class="menu">
    <div class="icon" data-content="lottery">Lottery</div>
    <div class="icon" data-content="mini-games">Mini Games</div>
    <div class="icon" data-content="popular">Popular</div>
    <div class="icon" data-content="slots">Slots</div>
    <div class="icon" data-content="pvc">PVC</div>
    <div class="icon" data-content="fishing">Fishing</div>
    <div class="icon" data-content="casino">Casino</div>
    <div class="icon" data-content="sports">Sports</div>
  </div>
  <div class="content" id="content">
    <!-- Content will be displayed here -->
  </div>
  